$green:#2D4A0C;

body {
  background: $green image-url("tree.png") no-repeat center top;
  font-family: 'Niconne', cursive;
  color: #fff;
}

a, a:hover, a:active {
  color: #fff;
  text-decoration: none;
}

h1 {
  padding-top: 490px;
  font-size: 72px;
}
.reduced {
  margin: 0;
  paddding:0;
}
.center {
  text-align: center;
}
p.large {
  font-size: 72px;
}
p.medium {
  font-size: 32px;
  vertical-align: middle;
}
p.medium img {
  vertical-align: middle;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; 
}

#notice {
  color: green; 
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; 
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; 
  }
  ul li {
    font-size: 12px;
    list-style: square; 
  } 
}
