@import "rounded";

$green:#2D4A0C;

body {
  background: $green image-url("tree.png") no-repeat center top;
  font-family: 'Niconne', cursive;
  color: #fff;
}

a, a:hover, a:active {
  color: #fff;
  text-decoration: none;
}
a.link {
	text-decoration: underline;
}
h1 {
  padding-top: 490px;
  font-size: 72px;
}
h2 {
  font-size: 60px;
}
.reduced {
  margin: 0;
  paddding:0;
}
.center {
  text-align: center;
}
.large {
  font-size: 72px;
}
.medium {
  font-size: 32px;
  vertical-align: middle;
}
.medium img {
  vertical-align: middle;
}

footer {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px dotted #456223;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; 
}

#notice {
  color: green; 
}

.field_with_errors input {
  border: 4px solid red;
}

#error_explanation {
  font-family: 'GothamBook', Helvetica, sans-serif, Arial;
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 16px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; 
  }
  ul li {
    font-size: 13px;
    list-style: square; 
    color: #333;
  } 
}

div.formfields {
	margin: 0 auto;
	width: 350px;
	input {
		width: 100%;
		font-size: 30px;
		@include rounded
	}
}

.actions {
	margin-top:10px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 9px 14px 9px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 15px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  @include rounded(6px);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.btn:focus {
  outline: 1px dotted #666;
}
.btn.active, .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
