<!DOCTYPE html>
<html>
<head>
  <title>DMB Stream Holiday Contest</title>
  <link href='http://fonts.googleapis.com/css?family=Niconne' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 class="reduced center">Happy Holidays</h1>

<%= yield %>

  <footer>
    <p class="disclaimer1">
      Winners will be announced on or after December 25, 2011.  
      This contest is not affiliated with Facebook. You must like DMBStream on Facebook to view 
      the contest entry form.
    </p>
    <p class="disclaimer2">Tree image by <a href="http://minercia.deviantart.com/">minercia</a></p>
  </footer>
</body>
</html>
